@import'../../shared/styles/_variables.scss';

footer {
  // height: 10vh;
  background-color: $main-color;
 font-family: $main-fontBold;
 padding: 20px 50px;
 display: flex;
 div{
  width: 30%;
 }
  p {
    color: #ffffff;
   
  }
}


.social{
width: 50%
}


