 @import'../../shared/styles/_variables.scss';


 header{
   height: 10vh;
   font-family: $main-font;
   display: flex;
   background-color: $main-color;
   color: rgb(255, 255, 255);
   padding: 0px 50px;
   align-items: center;
    justify-content: space-between;
 }

ul {
   display: inline-flex;
   li{
      padding: 20px 25px;
   }
}