@import'../../shared/styles/variables';

.container {
  width: 100%;
  font-family: $main-font;
  background-color: $main-color;
  color: $main-text-color;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

.aboutme-section {
  display: flex;
  justify-content: space-evenly;
}

.photo {
  display: flex;
  width: 35%;

  p {
    background-image: url('../../../assets/Images/4а.jpg');
    opacity: 0.9;
    width: 100%;
    height: 600px;
    background-size: cover;
    box-shadow: inset 0vw 0vw 2vw 2vw $main-color;
    clip-path: polygon(-12% 12%, 87% 6%, 69% 89%, 18% 76%);
    background-position: -24px 4px;
  }
}

.wraper-about {
  width: 35%;
  position: relative;

  p {
    width: 20%;
    height: 10%;
    position: absolute;
    left: 118px;
    top: 98px;
    right: 0px;
    bottom: 0px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #f6483b;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
    margin-top: 50px;
  }

  h1:after {
    content: "";
    position: absolute;
    background-color: $main-text-color;
    width: 120px;
    height: 2px;
    top: 100%;
    left: 0;
  }
}

.about-info {
  margin: 50px 0px;
}

//Button
.btn {
  width: 33%;
  height: 50px;
  line-height: 40px;
  box-shadow: 0px 0px 20px 0px rgb(100, 100, 100);
  text-align: center;
  position: relative;
  padding: 5px;
  font-size: 12px;
  color: $main-text-color;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: black;
  transition-delay: 0.5s;
  z-index: 1;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: $main-text-color;
  transition-delay: .35s;
}

.from-right:before,
.from-right:after {
  top: 0;
  width: 0;
  height: 100%;
}

.from-right:before {
  left: 0;
  border: 1px solid $main-text-color;
  border-left: 0;
  border-right: 0;
  z-index: 1;
}

.from-right:after {
  right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
  width: 100%;
}

.education-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-header {
  position: relative;
  margin: auto;

  p {
    width: 20%;
    height: 10%;
    position: absolute;
    left: 118px;
    top: 48px;
    right: 0px;
    bottom: 0px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #f6483b;
  }

  h1 {
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 15px;
  }

  h1:after {
    content: "";
    position: absolute;
    background-color: $main-text-color;
    width: 120px;
    height: 2px;
    top: 100%;
    left: 0;
  }
}

.education-data {
  width: 80%;
  margin-top: 50px;
  position: relative;
}

.education-rows {
  width: 50%;
  margin-left: 50%;
}

.education-rows::after {
  content: "";
  position: absolute;
  background-color: $main-text-color;
  width: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0px auto;
}

.educationbox-right {
  display: flex;
  margin-left: 15px;
  position: relative;
}

.educationbox-right::after {
  content: "";
  position: absolute;
  background-color: $main-text-color;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 3px solid $main-color;
  top: 47%;
  left: -22.5px;
  transition: 0.3s;
}
.educationbox-right:hover::after{
  border: 3px solid #f6483b;
  background-color: $main-color;
  z-index: 1;
}

.educationbox-year {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 40px;
    transition: all 0.5s;
  }

  h1:hover {
    transform: scale(1.1);
    color: #f6483b;
  }
}

.educationbox-info {
  padding: 0px 40px;

  h3 {
    font-size: 22px;
    margin-bottom: 20px;
  }
}