<div class="container">
  <section class="aboutme-section">
    <div class="photo">
      <p alt="Dolbnia Alexander's Photo">
    </div>
    <div class="wraper-about">
      <h1>ABOUT ME</h1>
      <p>WHo AM i</p>
      <div class="about-info">I'm a front-end web developer who does a
        bit of web design. My main areas of knowledge include Javascript, Typescript,
        HTML, CSS, SCSS and Angular. I want to be part of a friendly and professional
        team in which I could develop my development to achieve team results.
      </div>
      <div class="btn from-right">Download resume</div>
    </div>
  </section>
</div>
<div class="container">
  <section class="education-section">
    <div class="education-header">
      <h1>Education</h1>
      <p>learning</p>
    </div>

    <div class="education-data">
      <div class="education-rows">
        <div class="educationbox-right">
          <div class="educationbox-year">
            <h1>2004</h1>
          </div>
          <div class="educationbox-info">
            <h3><b>Logos IT school</b></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Sunt deserunt beatae quae nobis corporis eligendi expedita
              dolorem laborum sequi voluptatum perferendis error aliquid,
              odit consectetur asperiores inventore itaque libero pariatur
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>